@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro&display=swap");

html,
body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    #fff8e2 5%,
    #fff8e2 15%,
    rgb(250, 222, 129) 25%,
    rgb(253, 242, 206) 35%,
    rgb(216, 245, 253) 45%,
    #8fd2ff 65%
  );
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  text-shadow: 5px 5px 5px #ffffff;
}

.App {
  text-align: left;
  align-content: left;
  font-family: "Montserrat", sans-serif;
}

.center {
  margin: auto;
  width: 100%;
}
.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 10px;
}
.certificate-list {
  margin: 10px;
}
.tile-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-width: min-content;
  width: 100%;
}

.tile-list li {
  list-style: none;
}

.blurb {
  width: 75%;
  padding: 10px;
  margin: auto;
  box-shadow: #fff9ff 1px 1px 10px;
  background-color: #ffffffa8;
  border-radius: 16px;
  font-size: large;
}
nav {
  display: inline;
  position: fixed;
  margin-bottom: 10%;
  width: 100%;
  z-index: 999;
  border-radius: 3px;
  height: 50px;
}
nav a {
  font-size: 20px;
  padding: 11px;
  border-right: #fdbeff71 solid 1px;
  box-shadow: 0px 0px 10px 1px #acb8d1;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: #ffffff75;
}
nav a:hover {
  cursor: pointer;
  color: #000000;
  background-color: rgba(252, 168, 255, 0.705);
}
.nav-bar {
  top: 0px;
  width: 100%;
}
button:hover {
  opacity: 90%;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 1px #86888b;
  cursor: pointer;
}

button {
  background-color: #ffffff85;
  color: #ca59c1;
  border-radius: 16px;
  border: solid rgb(170, 110, 219) 1px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 3px 1px #6d9cff;
}

.container button {
  width: 100px;
  min-width: fit-content;
  padding: 3px;
  text-shadow: none;
  margin: 7px;
  background-color: #ffffffbd;
  color: #1b252b;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 3px 1px #6d9cff;
}
.container button:hover {
  color: #8f5b9c;
  background-color: #ffffffe1;
  cursor: pointer;
}
.project-content {
  margin: 50px;
}
.project-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 40px;
}
p {
  margin: 10px;
  padding-bottom: 4px;
}
.container {
  margin-top: auto;
  margin-bottom: 20px;
  min-width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
@media only screen and (max-width: 600px) {
  .container button {
    width: 120px;
    height: 50px;
    font-size: 14px;
  }
}
@media only screen and (max-height: 768px) {
  .footer {
    margin-top: 3%;
  }
}
@media only screen and (min-width: 2560px) {
  .container button {
    width: 120px;
    height: 50px;
    font-size: 14px;
  }
  .footer {
    margin-top: 35%;
  }
}
.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer h2 {
  font-size: 20px;
}
a {
  align-items: center;
  text-shadow: #ff9ef4 1px 1px 5px;
}

a:hover {
  color: #ffffff;
  cursor: pointer;
}
.project-name {
  font-size: 27px;
}

h1.delaine {
  font-size: 47px;
  margin-top: 33px;
  margin-bottom: 10px;
  box-sizing: content-box;
  text-align: center;
  padding: 0;
  width: 50%;
}

h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  color: #0038a0;
  text-shadow: #77757594 2px 5px 5px;
}
h2 {
  text-align: center;
  margin: auto;
  text-shadow: #ff00bf94 2px 5px 5px;
}
h3 {
  font-family: "Bubbler One", sans-serif;
  margin: auto;
  text-align: center;
  text-shadow: #e6e6e6 2px 2px 1px;
  color: #8471be;
  font-weight: bold;
  font-size: 18px;
}
#project {
  list-style: circle;
}

.webProjects li {
  list-style: none;
}

img {
  width: 100%;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.certificates ul {
  padding: 0;
  list-style-type: none;
}
.project-page .container button {
  cursor: pointer;
  min-width: fit-content;
  width: 150px;
}
.index-card {
  min-width: min-content;
  display: inline-block;
  width: 300px;
  padding: 20px;
  height: 400px;
  overflow-wrap: break-word;
  border: 1.25px solid rgba(35, 69, 151, 0.684);
  border-radius: 16px;
  margin: 10px;
  position: relative;
  background-color: #ffffff91;
}
.center-box {
  min-width: fit-content;
  width: 50%;
  margin: auto;
}
.center-box ul {
  width: 50%;
  margin: auto;
}
.center-box .technologies {
  color: #0038a0;
  text-align: center;
}
.project-page {
  min-width: min-content;
  align-content: center;
  width: 50%;
  margin: auto;
  background-color: rgba(240, 248, 255, 0.445);
  padding: 10px;
  border: 1.25px solid rgba(35, 70, 151, 0.568);
  border-radius: 16px;
}

.project-list {
  align-items: center;
  min-width: min-content;
  padding: 5px;
  width: 300px;
  height: 450px;
  border: 1.25px solid rgba(36, 85, 199, 0.568);
  border-radius: 16px;
  margin: 5px;
  position: relative;
  background-color: #ffffff91;
}

.project-list * {
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.main-content {
  padding: 15px;
  min-width: min-content;
  width: 100%;
  height: 100%;
}
